# Data Types

- bool    : True / False
- int     : signed integer types, ie., 2, -3, -19, 5698
- float   : signed float types, ie., 0.34, -19.45, 645.980
- complex : 4+5j
- time    : Date/time type

# type() 

This method is default one, 
- It used for finding type of that data. There plenty of examples mentioned below
- python having the auto type casting feature

In [108]:
type(2)

int

In [109]:
type(2.9)

float

In [110]:
type(4+5j)

complex

In [111]:
type(True)

bool

In [112]:
type('test')

str

# datatime() Library

In [113]:
#import date subpackage from datetime package
from datetime import date 

#import datetime subpackage from datetime package
from datetime import datetime as date_time 

#getting today date
date.today()

datetime.date(2019, 9, 21)

In [114]:
#getting today date and time
date_time.now()

datetime.datetime(2019, 9, 21, 23, 3, 22, 558336)

In [115]:
my_dob = date(1994, 4, 17)

# find date difference from my date of birth
print( date.today() - my_dob )

9288 days, 0:00:00

# Math Operators

In [116]:
#addition
10 + 4

14

In [117]:
#subtraction
10 - 4

6

In [118]:
#muliplication
10 * 4

40

In [119]:
#divison
10 / 4

2.5

In [120]:
#remainder
10 % 4

2

In [121]:
#quotient
10 // 4

2

In [122]:
#power
10 ** 4

10000

# Type Casting

Which means operation can possible between different data dypes. like.,

Below mentioned things are auto type casting,
- addition of int, float
- subtraction of int, float
- multiplication of int, float
- division of int, float

Below mentioned things are manual type casting
- addition of int or float, string
- subtraction of int or float, string
- multiplication of int or float, string
- division of int or float, string

# Auto Typecasting

In [123]:
5 + 2.5

7.5

In [124]:
5 - 2.5

2.5

In [125]:
5 * 2.5

12.5

In [126]:
5 / 2.5

2.0

In [127]:
5 // 2.5

2.0

In [128]:
5 % 2.5

0.0

In [129]:
5 ** 2.5

55.90169943749474

# Manual Typecasting

In [130]:
int(5.2) + int('3')

8

In [131]:
str('34') + ' hello'

'34 hello'

In [132]:
str('34.5') + ' hi'

'34.5 hi'

# Logical Operator

In general, Logical Operators return boolean values by default
- > Greater than?
- < Less than?
- >= Greater than or equal to?
- <= Less than or equal to?
- != NOT equal to?
- == is equal to?

In [133]:
print( 5 > 6 )
print( 5 < 6 )
print( 5 >= 6 )
print( 5 <= 6 )
print( 5 != 6 )
print( 5 == 6 )

False
True
False
True
True
False

# Comparision Operator

- and => If both are TRUE, result TRUE. Otherwise result FALSE
- or  => If both are FALSE, result FALSE. Otherwise result TRUE

In [134]:
# and comparision operator
print( 5>3 and 6>3 ) # T and T
print( 5>3 and 6<3 ) # T and F
print( 5<3 and 6>3 ) # F and T
print( 5<3 and 6<3 ) # F and F

True
False
False
False

In [135]:
# or comparision operator
print( 5>3 or 6>3 ) # T or T
print( 5>3 or 6<3 ) # T or F
print( 5<3 or 6>3 ) # F or T
print( 5<3 or 6<3 ) # F or F

True
True
True
False

# Conditional Statements

- if
- elif
- else

In [136]:
#Example

a = 10

if(a > 0):
    print('POSITIVE')
elif(a == 0):
    print('ZERO')
else:
    print('NEGATIVE')

POSITIVE

# Data Objects
- List = [ ]
- Tuples = ( )
- Strings = " "
- Dictionaries = { }
- sets = { }

# List

List are very flexible and can hold completely heterogeneous data and they can manipulated very efficiently.
- extend(VALUES) => insert multiple element end of the list
- append(VALUE) => insert single element end of the list
- count(VALUE)  => count duplicate values
- remove(VALUE) => remove single element, find from 0th index
- pop(INDEX) => remove passed INDEX element
- copy() => copy list
- clear() => empty the list
- index(VALUE) => found the index of value
- reverse() => reverse the list
- sort() => sort list, it works only similar datatypes
- insert(INDEX,VALUE) => insert specific value into mentioned index
- len(LIST) => find length of list
- list(ANY_OTHER_OBJECTS) => Type casting, can able to change tuple,dictionary,set to list

In [137]:
myList = [2, 2.5, True, 'string', [1,2,3,4,5],{'a':1, 'b':1},(1,2,3)]

In [138]:
myList.extend([-2.5, -8])

In [139]:
myList.append(False)

In [140]:
myList.count(-8)

1

In [141]:
myList.remove(-2.5)

In [142]:
myList.pop(0)

2

In [143]:
newList = myList.copy()

In [144]:
newList.clear()

In [145]:
myList.index(0)

7

In [146]:
muthu = [2,4]
print(muthu.reverse())

None

In [147]:
# number sort
numList = [6,9,2,4,0,1,7,3]
numList.sort()
print(numList)

# string sort
strList = ['a','z','b','y']
strList.sort()
print(strList)

[0, 1, 2, 3, 4, 6, 7, 9]
['a', 'b', 'y', 'z']

In [148]:
numList.insert(1, 4)
numList

[0, 4, 1, 2, 3, 4, 6, 7, 9]

In [149]:
len(numList)

9

In [150]:
b = (3,4,5) #tuple
a = list(b)
a

[3, 4, 5]

# Tuples

Tuples is a sequence of objects, which is immutable
- len(TUPLE) => find length of Tuple
- tuple(ANY_OTHER_OBJECTS) => typecasting can able to change list,dictionary,set to tuple
- count(VALUE) => count duplicate values
- index(VALUE) => found the index of value

In [151]:
myTuples = (1,0.2,-5,True,False,[1,2,3],'string')

In [152]:
len(myTuples)

7

In [153]:
newTuple = tuple(numList) #numList is list

In [154]:
newTuple.count(0)

1

In [155]:
newTuple.index(1)

2

# Strings

str[STARTINDEX : ENDINDEX]

- start index may be a postive or negative value
    - if positive value, taken from 0th index,
    - if negative value, taken form last index
- end index may be a postive or negative value
    - if positive value, taken from last index
    - in negative value, taken from 0th index

In [156]:
myString = "Have a nice day"

In [157]:
myString[7:]

'nice day'

In [158]:
myString[:6]

'Have a'

In [159]:
myString[7:10]

'nic'

In [160]:
myString[-8:-1]

'nice da'

# Dictionaries

- dict() => type casting
- copy() => copy dictionary
- get(KEY) => get key value
- items() => give result as a set of each key and value. like (key, value), (key,value)
- keys() => get all keys only
- values() => get all values only
- pop(KEY) => remove passed KEY element
- popitem() => remove last key and value
- update(VALUES) => add multiple values

In [161]:
myDictionary = {'name':'muthu', 'age':24, 'email':'pearlpandzz@gmail.com'}
myDictionary

{'name': 'muthu', 'age': 24, 'email': 'pearlpandzz@gmail.com'}

In [162]:
myDictionary['name']

'muthu'

In [163]:
myDictionary['name'] = 'muthupandi'
myDictionary

{'name': 'muthupandi', 'age': 24, 'email': 'pearlpandzz@gmail.com'}

In [164]:
userInfo = dict(name="pandi", age=24, email="pearlpandzz@gmail.com")

In [165]:
newUser = userInfo.copy()

In [166]:
userInfo.get('name')

'pandi'

In [167]:
userInfo.items()

dict_items([('name', 'pandi'), ('age', 24), ('email', 'pearlpandzz@gmail.com')])

In [168]:
userInfo.keys()

dict_keys(['name', 'age', 'email'])

In [169]:
userInfo.pop('age')

24

In [170]:
userInfo.popitem()

('email', 'pearlpandzz@gmail.com')

In [171]:
userInfo.values()

dict_values(['pandi'])

In [172]:
userInfo.update({'name' : 'muthupandi', 'age':24, 'email':'pearlpandzz@gmail.com'})

# Sets

A Set contains an unordered collection of uniques and immutable objects.
- union
- intersection

In [173]:
family = {"arun","guna","suganya"}
friends = {"arun","venkat","guna","santy","mangu"}

In [174]:
friends.union(family)

{'arun', 'guna', 'mangu', 'santy', 'suganya', 'venkat'}

In [175]:
friends.intersection(family)

{'arun', 'guna'}

# Function

Function used for do the repitative excecutions. "def" is a keyword to define the function.

In [176]:
# example function

def isEven(x):
    if (x%2) == 0:
        return True;
    else:
        return False;

isEven(10)

True

# Loops

Loop means iteratable things

In [177]:
technologies = ['machin learning','artificial intelligence','cryptocurrency','digital marketing']
for tech in technologies:
    print(tech + " has " + str(len(tech)) + " characters," )

machin learning has 15 characters,
artificial intelligence has 23 characters,
cryptocurrency has 14 characters,
digital marketing has 17 characters,