# Pandas : Panel Data

In [17]:
# import section
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series

Series is a single(one) column DataFrame.

In [18]:
# create one series with help of numpy arange method
seriesObj1 = Series( np.arange(3) )

In [19]:
# index customization
seriesObj2 = Series( np.arange(3), index=['row1','row2','row3'] )
seriesObj2

row1    0
row2    1
row3    2
dtype: int32

In [20]:
# Selecting and Retriving Data from Series Object

print( seriesObj2[2] ) # selecting by Index
print( seriesObj2['row3'] ) # selecting by row name
print( seriesObj2[1:3] ) # selecting by range

2
2
row2    1
row3    2
dtype: int32

# DataFrame

DataFrame is a 2-d dataset, which also like as a datasheet like., csv, Excel

- DataFrame(DATA_MATRIX, INDEX, COLUMNS)
- iloc[ START_INDEX_ROW:END_INDEX_ROW , START_INDEX_COL:END_INDEX_COL ]
- loc['ROW_NAME','COLUMN_NAME']

In [21]:
# define index and column names
index = ['row1','row2','row3','row4','row5','row6']
columns = ['col1','col2','col3','col4','col5','col6']

In [22]:
# dataframe create
dF = DataFrame(np.ceil(np.random.rand(36)*100).reshape(6,6), index=index, columns=columns)

In [23]:
# selecting data by range
dF.iloc[ 1:5 , 2:6 ]

      col3  col4  col5  col6
row2  77.0  16.0  86.0  72.0
row3  55.0  63.0  70.0  26.0
row4  60.0   1.0  11.0  44.0
row5  42.0  48.0  60.0  11.0

In [24]:
#selecting data by row & column names
dF.loc[ ['row1','row5'] , ['col2','col6'] ]

      col2  col6
row1  69.0  60.0
row5  56.0  11.0